@use "../variables" as *;
.articleForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  border-radius: 11px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  gap: 20px;
  padding: 46px 40px;
}
.titleName {
  color: $gray-500;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
.topContain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.topContain1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.textCount {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}
.buttonContain {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $gray-200;
  border-bottom: 1px solid $gray-200;
  width: 100%;
}
.titleForm {
  padding: 20px 0;
  width: 90%;
  font-size: 20px;
  &::placeholder {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
  }
  &:focus {
    outline: none;
    border-color: $green-200;
  }
}
.charCount {
  color: $green-200;

  right: 68px;
  top: 285px;
}
.formGroup {
  display: flex;
  flex-direction: column;
}
.contentForm {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding: 3px 0 200px;
  color: $gray-300;

  &::placeholder {
    font-size: 16px;
  }
  &:focus {
    outline: none;
  }
}
.imagePreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;

  .imageWrapper {
    border-radius: 10px;
  }
}
.deleteImageButton {
  background-color: none;
  position: absolute;
  font-size: 20px;
  color: $green-200;
  background-color: $gray-200;
}
.submitButton {
  padding: 12px 20px;
  background-color: $green-200;
  color: $white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;

  &:disabled {
    background-color: $gray-200;
    cursor: not-allowed;
  }
}

.disabled {
  background-color: $white;
}

.submitButton1 {
  padding: 12px 20px;
  background-color: $green-200;
  color: $white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}
.littleContain {
  display: flex;
  gap: 13px;
}
.date {
  font-size: 16px;
  color: $gray-400;
}
.lastButton {
  display: flex;
  justify-content: center;
}
