@use "../../variables" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  justify-content: center;
  margin-top: 60px;
}
.topBanner {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}
.innerInfo {
  color: $gray-500;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 6fr 3fr 2fr 3fr;
  width: 100%;
  border-top: 1px solid $gray-200;
  border-bottom: 1px solid $gray-200;
  padding: 11px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.rank {
  display: grid;
  grid-row: 1 / 1;
  text-align: center;
}

.title {
  text-align: center;
  grid-row: 2 / 1;
}

.name {
  text-align: center;
  grid-row: 3 / 1;
}

.innerInfo2 {
  display: grid;
  grid-row: 4 / 1;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
}

.likeCount {
  text-align: center;
  grid-row: 5 / 1;
}

.updatedAt {
  text-align: center;
  grid-row: 6 / 1;
}

.container a {
  text-decoration: none;
}
