@use "../variables" as *;

.allContain {
  width: 100%;
  display: flex;
  justify-content: center;
}
.allContain2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.roundBackground {
  top: 850px;
  width: 100%;
  height: 500px;
  position: absolute;
  background-color: $gray-500;
  border-radius: 100%;
  z-index: 1;
}

.bottomContain {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottomContain,
.topContain {
  width: 100%;
}

.topContain {
  top: 200px;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;

  flex-direction: column;
  z-index: 100;
}

.titleContain1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.smtitleContain {
  display: flex;
  align-items: center;
}

.title1 {
  font-size: 50px;
  font-weight: 400;
  color: $gray-500;
}

.title2 {
  font-size: 90px;
  font-weight: 700;
  color: $gray;
}

.titleContain2 {
  background-color: $gray-500;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerContain2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.secondInContain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topHcontain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 20px;
}

.subTitle {
  color: $green;
  font-size: 30px;
  font-weight: 700;
}

.title {
  color: $white;
  font-size: 50px;
  font-weight: 400;
}

.imgContain1 {
  background-color: $green;
  width: 364px;
  height: 450px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photoContain {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 250px;
  width: 100%;
  margin-top: 50px;
  gap: 20px;
}
.iconContain1 {
  background-color: $purple;
}
.iconContain2 {
  background-color: $green-100;
}
.iconContain3 {
  background-color: $gray-100;
}
.iconContain4 {
  background-color: $gray-100;
}
.iconContain6 {
  background-color: $purple;
  display: flex;
  width: 210px;
  height: 210px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
.behindContain1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}
.behindContain2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 20px;
}
.iconContain1,
.iconContain2,
.iconContain3,
.iconContain4 {
  display: flex;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  animation: floatingIcons 20s linear infinite;
  animation-timing-function: linear;
}

@keyframes floatingIcons {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-70%);
  }
}

.behindContain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  width: 100%;
}
.titleContain3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.footer {
  background-color: $gray;
  color: $gray-300;

  padding: 60px 40px 40px 70px;
  width: 100%;
  text-align: center;

  .footContain1,
  .footContain2,
  .footContain3 {
    margin-bottom: 15px;
    display: flex;
  }

  .fooTer1 {
    font-size: 14px;
    color: $white;
  }

  .fooTer2 {
    font-size: 13px;
  }

  .fooTer3 {
    font-size: 11px;
    cursor: pointer;
  }
  .footContain3 {
    gap: 20px;
  }
  .footContain2 {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.titleContain4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}
.titleContain5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.behindContain3 {
  display: flex;
  flex-direction: column;
}
.titleContain6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: $gray-500;
  width: 100%;
  padding: 200px;
  color: $white;
  font-size: 40px;
}
