$white: #ffffff;

$gray-100: #f7f7fa;
$gray-200: #e4e5f0;
$gray-300: #c6cada;
$gray-400: #8f95b2;
$gray-500: #474d66;
$gray: #3b415b;

$green-100: #eef9f6;
$green-200: #4cbfa4;
$green: #32a68a;

$red-100: #fbeded;
$red: #d14343;

$purple: #8e66ff;

$yellow: #fdd181;
