@use "../variables.scss" as *;
.container {
  padding: 20px;
  max-width: 860px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  width: 820px;
}
.searchWrapper {
  position: relative;
  width: 100%;
  max-width: 860px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px 15px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.searchIcon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.searchInput {
  flex: 1;
  border: none;
  padding: 10px 10px 10px 40px;
  font-size: 16px;
  outline: none;
  background-color: transparent;
}

.searchResultText {
  font-size: 16px;
  color: #555;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
}

.list {
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 860px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 15px;
  background-color: #f9f9f9;
  width: 100%;
  max-width: 860px;
}

.cardContent {
  display: flex;
  align-items: center;
  width: 100%;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.info {
  flex: 1;
}

.linkText {
  color: #4cbfa4;
  font-size: 14px;
  font-weight: bold;
  word-break: break-all;
}

.linkText:hover {
  color: #379e83;
  text-decoration: underline;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}

.pageButton {
  color: $gray-400;
  padding: 12px 18px;
  border-radius: 10px;
  border: 1px solid $gray-100;
  background: $white;
  cursor: pointer;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
}

.activePage {
  color: $green;
}

.profileLink {
  color: #1c7d44;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #eef9f6;
  font-size: 14px;
  display: inline-block;
}

.profileLink:hover {
  background-color: #d8f3eb;
  text-decoration: underline;
}

.searchResultText {
  font-size: 16px;
  color: #666;
}
