@use "../../variables" as *;
.boardButton {
  background-color: $white;
  color: $green-200;
  border: 1px solid $green-200;
  width: 140px;
  height: 45px;
  padding: 8px 10px;
  border-radius: 10px;
  cursor: pointer;
}
