@use "../../variables" as *;
.articleForm {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}
.innerContain {
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  padding: 30px 30px;
  width: 100%;
}

.topContain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-bottom: 15px;
}
.buttonContain {
  display: flex;
  gap: 15px;
}
.titleForm {
  border-radius: 10px;
  padding: 12px;
  border: 1px solid $gray-200;
  font-size: 24px;
  font-weight: bold;

  color: $gray-500;
  &::placeholder {
    font-size: 15px;
  }
  &:focus {
    outline: none;
  }
}
.formGroup {
  display: flex;
  flex-direction: column;
}
.contentForm {
  width: 100%;
  min-height: 85px;
  padding: 8px;
  border-top: 1px solid $gray-100;
  border-bottom: 1px solid $gray-100;
  font-size: 16px;
  line-height: 1.5;
  resize: none;
  overflow-wrap: break-word;
  color: $gray-500;
  &::placeholder {
    font-size: 16px;
  }
  &:focus {
    outline: none;
  }
}
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmButton,
.removeButton {
  padding: 10px 20px;
  background-color: $green-200;
  color: $white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.confirmButton:hover {
  background-color: $green;
}

.previewImage {
  height: 100%;
  overflow: hidden;
}
.submitButton {
  padding: 12px 20px;
  background-color: $green-200;
  color: $white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;

  &:disabled {
    background-color: $gray-200;
    cursor: not-allowed;
  }
}
