@use "../../variables" as *;

.articleContain {
  border-radius: 10px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  width: 280px;
  height: 220px;
  overflow: hidden;
}

.innerContain {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.photoContain {
  width: 280px;
  height: 130px;
  overflow: hidden;
}
.innerInfo {
  margin-left: 19px;
  margin-top: 15px;
}
.contentTitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  white-space: nowrap;
  text-decoration: none;
  color: $gray;
}
.nameAupdate {
  display: flex;
  gap: 8px;
}
.userInfo {
  display: flex;
  font-size: 14px;
  color: $gray-400;
  margin: 0;
  padding: 0;
  gap: 70px;
  margin-top: 5px;
}

.likeCount {
  font-size: 14px;
}
